<% provide(:title, 'Users Index') %>
<h1>All Users</h1>

<ul>
  <% @users.each do | user | %>
    <% render 'shared/error_messages', object: user.object %>
    <li>
      <%= link_to user.name, user_path(user.id) %>
    </li>      
    <% if !current_user?(user) && current_user.admin? %>
      <li><%= link_to 'delete', user, method: :delete,
          data: { confirm: 'Are you sure?' } %></li>
    <% end %>
  <% end %>
</ul>
